body {
  margin: 0; /*remove default spacing*/
  height: 100vh; /*full screen height */
  background: black;
  font-family: 'Andale Mono', monospace;
  overflow-y: auto;  /* allow vertical scrolling */
  overflow-x: hidden; /* no sideways scroll */
}

.signin-container { /* . to apply style to element with class="signin-container" */
  position: relative; /*relative: normal layout*/
  width: 100%;
  height: 100%;
}

.background {
  position: fixed; /*absolute: removes element from normal document flow*/
  inset: 0; /*Top,right,bottom,left = 0 : stretches to all screen edges*/
  background: url("meet_characters.gif") center / cover no-repeat;
  z-index: -1;
}

.card{
  position: relative; /* participate in page flow */
  margin: 60px auto; /* centers horizontally + adds top spacing */

  width: 90%;
  max-width: 400px;

  /* for easy better scalling based on screen size */
  width: 90%;
  max-width: 400px; 

  background: rgba(0, 0, 0, 0.406);
  padding:25px; /*space inside card*/
  border-radius:20px;
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.3); /* x-offset y-offset blur color*/
  color: white;
  display: flex; /* for allignment of labels*/
  flex-direction: column; /* column: vertical stack */
  gap:12px;
  animation: fadeIn 1.2s ease;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity:1;
    transform: translateY(0);
  }
}

h1{text-align:center;}

label {
  font-size:1.2rem; /*Relative to root font size*/
}

input, select{
  padding: 10px;
  border-radius: 10px;
  border:none;
  font-size: 1rem;
}

button{
  margin-top: 15px;
  padding:12px;
  border-radius: 15px;
  border:none;
  background: linear-gradient(45deg, #00f0ff, #7a00ff);
  font-weight: bold;
  color: black;
  cursor:pointer; /* changes cursor to a pointing hand */
  transition:transform 0.2s;
}

button:hover {
  transform: scale(1.05); /*grow button when cursor hovers*/
}

#error {  /* # to apply style to element with id="error" */
  color: red;
  text-align: center;
  font-size: 0.9rem;
}

/* these changes only apply when screen is smaller so it works better on mobile phones */
@media (orientation: landscape) and (max-width: 600px) {
  .card {
    max-height: 85vh;   /* Card never taller than screen */
    overflow-y: auto;   /* Scroll ONLY inside card */
  }
}