body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #111;
    color: white;
}

#status{
    font-size: 24px;
    margin: 20px;
}

#score{
    font-size: 20px;
}

video{
    margin-top: 20px;
    border-radius: 12px;
}