*{ /* --(*)means apply to everything on the page */

    box-sizing: border-box;
}

    body {
        margin: 0; /* Remove white borders */
        width: 100vw; /* vw = viewport width (screen width) */
        height: 100vh; /* vh = viewport height (screen height) */
        overflow: hidden; /* Prevent scrolling */
        font-family: 'Andale Mono', monospace;
    }

    /* Background */

    .real_background {
        position: absolute; /* Positioned relative to screen */
        width: 80vw;
        height: 80vh;
        top: 50;

        background: url("images/window.jpeg") no-repeat center/cover;
        animation: moveBg 40s infinite;
        z-index: 0;                /* Behind everything */
    }

    /* Animation definition */
    @keyframes moveBg {
        0% { left: 0; }
        50% { left: 20%; }
        100% { left: 0; }
    }

    /* Home Page (.) represents a class*/
    .home_page{
        position: relative;  
        width: 100vw;
        height: 100vh;
        background: url("images/background.png") no-repeat center/cover;
        z-index: 2;
    }

    /* title */
    .letter_sec {
    display: flex; /* Arrang in a row */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    gap: 0.5vw; /* Space between letters */
    height: 20vh;
    z-index: 3;
    }

    .letter_sec div { /* title text */
        color: white;
        font-size: 8vw; /* vw scales with screen */
        animation: fadeUp 1.5s ease forwards;
    }

    .first_letter { /* Big first letter I */
        font-size: 14vw;
        animation-delay: 0.2s;
    }

    .last_letter { /* Big last letter T */
        font-size: 14vw;
        animation-delay: 0.4s;
    }

    /* Fade + move animation */
    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* characters */
    
    .character_out {
        position: relative;
        height: 78vh;
    }

    .five_character { /* Five emotions image */
        width: 40vw;
        height: 70vh;
        margin: auto;

        background: url("images/together.png") no-repeat center/cover;
        transform: translateY(-120%);
        animation: dropCharacters 1.8s ease forwards; /* Drop animation */
    }

    @keyframes dropCharacters {
        to {
            transform: translateY(0);
        }
    }

    /* memory balls */
    .memory_buttons {
        position: absolute; /* remove element from normal doc flow and position at specific location */
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width:500px;
        height:250px;
        pointer-events:none;
    }

    /* Base style for all balls */
    .memory {
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%; /* Makes circle */
        color: white;

        display: flex; /* Center text */
        align-items: center;
        justify-content: center;

        font-weight: bold;
        text-align: center;
        cursor: pointer;
        pointer-events: auto;

        /* Glass effect */
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: bur(8px);

        /* shine */
        box-shadow:inset -10px -10px 20px rgba(255,255,255,0.3), inset 10px 10px 20px rgba(0,0,0,0.2), 0 0 30px rgba(255,255,255,0.4);
        animation: float 6s ease-in-out infinite;
    }

    /* semi circle positions */
    .memory.joy{
        left: -20%;
        top: 100px;
        background:rgba(228, 196, 101, 0.763);
        color:  #424242;
    }

    .memory.sad{
        left: 60%;
        top: -80px;
        background: rgba(108, 163, 222, 0.61);
        color:  #424242;
    }

    .memory.anger{
        left: 90%;
        top: 100px;
        background: rgba(234, 79, 86, 0.635);
        color: #424242;
    }

    /* Float animation */
    @keyframes float {
        0% {transform: translateY(0);}
        50% {transform: translateY(-15px);}
        100% {transform: translateY(0);}
    }

    /* Hover effect */
    .memory:hover {
        transform: scale(1.1);
    }
